:root{
  --main-bg:#fff;
   --clr:black;
   --clr-form:rgb(241, 210, 167); 
}
body.dark{
  --main-bg:rgb(12, 12, 12);
  --clr:#fff;
}
.hero-cont-wrapper {
  background-image: radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4),
      rgb(241 210 167 / 0.7)
    ),
    url("../images/main/contacts-bg.jpg");
  background-position: right 100%;
  background-size: cover;
}
.contacts-wrapper{
  display:flex;
  gap:1.5rem;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  margin-block: 1.5rem;
}

.contacts-form{
  flex-basis:40rem;
  padding:1em;
  border-radius: 10px;
  background:var(--main-bg);
  color:var(--clr);
}
form{
  block-size: 100%;
  inline-size:80%;
  margin-inline:auto;
  font-size:1.3rem;
}
.form-field{
  display:flex;
  align-items: center;
  gap:1rem;
  margin-block:1rem;
}
.svg-wrap{
  flex-basis:2rem;
}
.svg-wrap svg{
  inline-size: 100%;
}
.svg-wrap svg path,.con-svg path{
  fill:var(--clr);
}
.input-wrap{
  flex-grow:1;
}
.input-wrap > *{
  display: block;
  inline-size: 100%;
}
input,textarea,.form-btn{
  font-size:1.1rem;
  padding:.2em;
}
.form-btn{
  display:block;
  inline-size:70%;
  margin-inline: auto;
  background-color: var(--clr-secondary);
  color: var(--clr-form);
  cursor: pointer;
  border: none;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}
.form-btn:hover,
.form-btn:focus{
  background-color: var(--link-bg);
}
.contacts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  gap: 2rem;
  flex:1 35rem;
}
.contact-item {
  border-radius: 10px;
  background-color: var(--main-bg);
  color:var(--clr);
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.con-title {
  font-size: 1.5rem;
  margin-block: 1rem;
  color:var(--clr);
}
.con-svg {
  inline-size: 30%;
  aspect-ratio: 1;
  display: block;
  margin-inline: auto;
}
/* Location */
.map iframe{
  inline-size:100%;
}
 