/* Header */
.hero-cont-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: calc((90vh - 5rem) + var(--size-nav));
  background-image: radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4),
      rgb(241 210 167 / 0.5)
    ),
    url("../images/main/gallery-img.webp") !important;
  background-size: cover;
  background-position: 80% center;
  background-attachment: fixed;
}
.hero-cont {
  flex-basis: min(40rem, 70%);
  text-align: center;
  color: #fff;
}

/* Gallery */
.gallery-grid {
  display: grid;
  grid-template-areas:
    "one two three three"
    "one four seven five"
    "six six seven eight"
    "nine ten ten eight";
  gap: 1rem;
  margin-block: 1rem;
}
.gallery-grid-img {
  font-size: 4rem;
  background: lightblue;
  border-radius: 10px;
  position: relative;
  isolation: isolate;
  cursor: pointer;
  box-shadow:0 0 8px rgba(0, 0, 0, 0.6);
}
.gallery-grid-img::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  border-radius: inherit;
  pointer-events: none;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
  transition: opacity 250ms ease-in-out;
}
.gallery-grid-img:hover::before,
.gallery-grid-img:hover::after {
  pointer-events: all;
  opacity: 1;
}
.gallery-grid-img::after {
  content: attr(data-set);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  inset: 0;
  font-size: clamp(2rem, 2.5vw, 3rem);
  transition: opacity 250ms ease-in-out;
}
.gallery-grid-img img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.gallery-grid-img:first-child {
  grid-area: one;
}
.gallery-grid-img:nth-child(2) {
  grid-area: two;
}
.gallery-grid-img:nth-child(3) {
  grid-area: three;
}
.gallery-grid-img:nth-child(4) {
  grid-area: four;
}
.gallery-grid-img:nth-child(5) {
  grid-area: five;
}
.gallery-grid-img:nth-child(6) {
  grid-area: six;
}
.gallery-grid-img:nth-child(7) {
  grid-area: seven;
}
.gallery-grid-img:nth-child(8) {
  grid-area: eight;
}
.gallery-grid-img:nth-child(9) {
  grid-area: nine;
}
.gallery-grid-img:nth-child(10) {
  grid-area: ten;
}
.gallery-grid-img:nth-child(11) {
  grid-area: eleven;
}


.gallery-banner {
  display:flex;
  justify-content: center;
  background-color:var(--clr-text);
  padding-block-start:1em;
  inline-size:min(70rem,100%);
  margin-inline:auto;
}
.gallery-banner-content{
  display: flex;
  flex-direction: column;
}
.banner-cont-img{
  position:relative;
  background-color:var(--clr-primary);
  padding-inline:1em;
}
.banner-cont-img svg{
  inline-size:100%;
  position:absolute;
  bottom:0;
  left:0;
}
.svg-wrap{
  position: relative;
  z-index:2;
  overflow: hidden;
  background-color: white;
}
.gallery-banner-img svg{
  inline-size:105%;
  position:absolute;
  left:0;
  bottom:-1%;
}
.gallery-banner-img{
  flex-basis:20rem;
  position:relative;
  display:flex;
  flex-direction: column;
  background-color: var(--clr-primary);
}
.filler{
  flex-grow:1;
}
.reverse{
  rotate:y 180deg;
}
.reverse .filler{
  rotate:y 180deg;
}
.gallery-banner-content{
  flex:1 25rem;
}
.banner-text,.filler{
  background-color: var(--clr-primary);
  padding:1.5em;
  font-size:1.2rem;
  text-align: center;
}
.banner-text{
  flex-grow:1;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.filler-text,.banner-text-content{
  background:black;
  color:var(--clr-primary);
  padding:1em;
  border-radius: 15px;
}
.banner-cont-img img{
  aspect-ratio: 1/1.6;
}

@media screen and (max-width: 1000px) {
  .gallery-grid {
    grid-template-areas:
      "one two"
      "three four"
      "five six"
      "seven eight"
      "nine ten";
  }
  .gallery-grid-img img {
    inline-size: 100%;
    aspect-ratio: 1;
  }
  .gallery-banner{
    flex-direction: column;
  }
  .gallery-banner-img img,.banner-cont-img img{
    display:block;
    margin-inline:auto;
  }
  .gallery-banner-img img{ inline-size:min(100%,25rem);}
  .banner-cont-img img{ inline-size:min(100%,35rem);}
  
}
@media screen and (max-width: 700px) {
  .gallery-grid {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight"
      "nine"
      "ten";
  }
}
