:root {
  --clr-primary: rgb(241, 210, 167);
  --clr-secondary: brown;
  --clr-text: #fff;
  --clr-link: black;
  --size-nav: 3rem;
}

body.dark {
  --clr-primary: #333;
  --clr-link: rgb(241, 210, 167);
}
/* General */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:not(i) {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: rgb(238, 91, 91) #333;
}
html::-webkit-scrollbar {
  width: auto;
}
html::-webkit-scrollbar-thumb {
  background: rgb(238, 91, 91);
}
html::-webkit-scrollbar-track {
  background: #333;
}
html:has(body.dark)::-webkit-scrollbar-track {
  background-color: black;
}

body {
  background-color: var(--clr-primary);
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--clr-link);
}
ul {
  list-style: none;
}

h1 {
  font-size: clamp(3.5rem, 6vw, 5rem);
}
hr {
  border: 1px solid var(--clr-secondary);
}
img {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}
/* Header */
.hero-cont-wrapper {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-block-start: var(--size-nav);
  position: relative;
}
.hero-cont {
  flex-basis: min(40rem, 70%);
  text-align: center;
  color: #fff;
  margin: auto;
}
body.dark .hero-cont {
  color: rgb(241, 210, 167);
}

.container {
  inline-size: min(80rem, 100%);
  margin-inline: auto;
  padding-inline: clamp(1.5em, 2vw, 2em);
}
.container.wide {
  inline-size: min(90rem, 100%);
}
/* Navigation */
.nav-wrapper {
  display: flex;
  gap: 1rem;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  inline-size: 100%;
  min-block-size: var(--size-nav);
  background-color: var(--clr-primary);
  transition: transform 150ms ease-in-out;
}
.nav-wrapper.scroll-up {
  transform: translate(0);
}

.nav-wrapper.scroll-down {
  transform: translate(0, -100%);
}
.nav-wrapper:focus-within {
  transform: translate(0);
}
.logo-wrapper {
  margin-left: 1rem;
}

.nav-link.reg:not(.space) {
  margin-right: 1rem;
}

.nav-menu {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}
.nav-link {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-link:not(.theme)::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 0.35rem;
  background-color: var(--clr-link);
  bottom: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: color 110ms ease-in-out, transform 110ms ease-in-out;
}
.nav-link:not(.theme):hover::before,
.nav-link:not(.theme):focus-within::before {
  transform: scaleY(1);
}

.nav-link:not(.theme):hover a,
.nav-link:not(.theme):hover {
  color: rgb(80, 80, 80);
}

.nav-link {
  padding: 0.5em;
}
.nav-link a {
  inline-size: 100%;
  block-size: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-link.reg.space {
  margin-left: auto;
}
/* Theme */
.theme {
  background: rgb(102, 100, 100);
  flex-basis: 3rem;
  padding: 0;
}

.toggle {
  all: unset;
  inline-size: 100%;
  block-size: 100%;
}
.toggle svg {
  inline-size: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle:focus-visible {
  outline: auto;
}
.theme:focus:not(:focus-visible) {
  outline: none;
}
.light {
  fill: var(--clr-primary);
  transition: opacity 150ms;
}
.dark-mode {
  fill: #fff;
  transition: opacity 150ms;
  opacity: 0;
}
.mobile-theme {
  display: none;
}
body.dark .light {
  opacity: 0;
}
body.dark .dark-mode {
  opacity: 1;
}

.ham-wrapper {
  display: none;
  margin-inline: 1rem;
}
.ham-close-svg {
  inline-size: 100%;
  block-size: 100%;
  cursor: pointer;
  fill: var(--clr-link);
}
.ham-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--clr-primary);
  inline-size: 90%;
  clip-path: circle(0% at 100% 0%);
  transition: clip-path 550ms ease-in-out;
}
.ham-link.theme {
  display: none;
}
.ham-menu svg {
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
  fill: var(--clr-link);
}
.ham-menu.open {
  clip-path: circle(120% at 100% 0%);
}
.skip-link {
  position: absolute;
  padding: 1em 1.5em;
  background-color: #fff;
  z-index: 5;
  block-size: 100%;
  inline-size: 100%;
  font-size: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* translate: 0 -100%; */
  transform: translate(0, -100%);
  transition: transform 150ms ease-in-out;
}
.skip-link:focus {
  transform: translate(0);
}
body.dark .skip-link {
  background-color: var(--clr-primary);
  color: var(--clr-link);
}
#main {
  scroll-margin-block-start: calc(var(--size-nav) + 1rem);
}
/* Footer */

footer {
  min-block-size: 5rem;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1em;
}
footer * {
  color: rgb(241, 210, 167);
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.foot-link:hover a {
  text-decoration: underline;
}
.foot-logo {
  flex-basis: 10rem;
}

.foot-media-links {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-inline: 0.5em;
  gap: 1rem;
}
.foot-copy {
  align-self: center;
  margin-block: 1rem;
}
.foot-media-svg {
  fill: rgb(241, 210, 167);
  transition: fill 150ms ease-in-out;
}
.foot-media-svg:hover {
  fill: #fff;
}

.media-link-sec {
  display: flex;
  gap: 1rem;
  margin-block: 0.5rem;
}

@media screen and (max-width: 928px) {
  .foot-media-links {
    flex-direction: row;
    align-items: center;
  }
  .nav-wrapper.scroll-down {
    transform: translate(0);
  }
}

@media screen and (max-width: 1280px) {
  .hero-cont-wrapper {
    block-size: calc(70vh + var(--size-nav));
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .ham-wrapper {
    display: block;
  }
  .nav-link:not(.mobile-theme) {
    display: none;
  }
  .mobile-theme {
    display: block;
  }
  .nav-wrapper {
    justify-content: space-between;
  }
  .hero-cont-wrapper {
    block-size: calc(55vh + var(--size-nav));
  }
  .mobile {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .hero-cont-wrapper {
    block-size: calc(30rem + var(--size-nav));
  }
  .mobile {
    display: none;
  }
}
@media screen and (min-width:1900px){
  .container,.container.wide{
    inline-size:min(110rem,100%);
  }
}
