:root{
  --clr-text:black;
  --main-bg:#fff;
  --clr:rgb(241, 210, 167);
}
body.dark{
  --clr-link:rgb(241, 210, 167);
  --clr-text:rgb(241, 210, 167);
  --main-bg:rgb(12, 12, 12);
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,min(25rem,100%));
  justify-content: center;
  gap: 1rem;
  margin-block: 1rem;
}

.card {
  background-color:var(--main-bg);
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-content{
  color:var(--clr-text);
  display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.card-img {
  position: relative;
  isolation: isolate;
  border-radius: inherit;
}
.card-img img {
  border-radius: inherit;
  inline-size: 100%;
  aspect-ratio: 16/11;
}
 
.card-mask {
  position: absolute;
  left: 0;
  bottom: -5%;
  
}
.card-mask path{
  fill:var(--main-bg);
}
.card-body {
  padding: 1em;
  position: relative;
  z-index: 1;
  flex-grow: 1;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-title {
  margin-block: 0.5rem;
}
.card-btn-link {
  padding: 0.5em 1em;
  margin-block: 1rem;
  inline-size: 100%;
  text-align: center;
}
.card-btn-link,
.search-btn,
.search-btn--rm {
  background-color: var(--clr-secondary);
  color: var(--clr);
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
  cursor: pointer;
}
.search-btn--rm{
  background-color:var(--clr-primary);
}
.search-btn--rm:hover{
  background-color: rgb(44, 40, 35);
}
.search-btn--rm:hover svg{
  fill:#fff;
}
.card-btn-link:hover,
.search-btn:hover {
  background-color:rgb(100, 27, 27);
}
.recipe-search-wrap {
  position: relative;
  margin-block: 1.3rem;
  --custom-bord-radius: 25px;
  display:flex;
  flex-wrap:wrap;
  justify-content:  center;
  align-items: center;
  gap:1rem;
}
[data-set="error-message"] {
  display: inline-flex;
  padding: 0.5em;
  align-items: center;
  justify-content: center;
  color: black;
  position: absolute;
  inline-size: 70%;
  min-block-size: 4rem;
  left: 50%;
  bottom: 0;
  transform:translate(-50%, 100%);
  background-color: rgb(255 255 255 / 0.7);
  z-index: 2;
  opacity: 0;
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
  clip-path: polygon(
    50% 0%,
    52% 10%,
    100% 10%,
    100% 100%,
    0% 100%,
    0% 10%,
    48% 10%,
    50% 0%
  );
}
[data-set="error-message"].show {
  opacity: 1;
  transform:translate(-50%, 105%);
}
.search-btn,.search-btn--rm {
  inline-size: 4rem;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  border-radius:50%;
  border: none;
}
.search-btn svg,.search-btn--rm svg {
  inline-size: 45%;
  aspect-ratio: 1;
  fill:rgb(241, 210, 167);
  transition:150ms ease-in-out;
}
.search-btn--rm svg{
  fill:black;
}
body.dark .search-btn--rm svg{
  fill:rgb(241, 210, 167);
}
.recipe-search {
  flex:1 20rem;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  border: none;
  border-radius: var(--custom-bord-radius);
}

[data-set="not-found-content"] {
  display: none;
  inline-size: min(40rem, 100%);
  margin-inline: auto;
  margin-block-end: 1rem;
  text-align: center;
}
[data-set="not-found-content"].show {
  display: block;
}

.not-found-text {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
  margin-block: 0.5rem;
}

.not-found-message {
  font-weight: 900;
}
.not-found-img img {
  inline-size: 50%;
  display: block;
  margin-inline: auto;
}

@media screen and (max-width: 930px) {
  .hero-cont-wrapper {
    background-image: radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.7) 70%,
        rgb(241 210 167 / 0.5)
      ),
      url("../images/recipes/recipe-bg-650w.webp");
  }
}
@media screen and (min-width: 930px) and (max-width: 1280px) {
  .hero-cont-wrapper {
    background-image: radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.7) 70%,
        rgb(241 210 167 / 0.5)
      ),
      url("../images/recipes/recipe-bg-920w.webp");
    background-position: center 30%;
  }
}
@media screen and (min-width: 1280px) {
  .hero-cont-wrapper {
    background-image: radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.7) 70%,
        rgb(241 210 167 / 0.5)
      ),
      url("../images/recipes/recipe-bg-1400w.webp");
    background-position: center 30%;
  }
}
