:root {
  --clr: rgb(241, 210, 167);
  --main-bg: rgb(241, 210, 167);
}
body.dark {
  --main-bg: #333;
}

body {
  min-block-size: 100vh;
  background-size: cover;
}

.reg-wrapper {
  min-block-size: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.log {
  flex-wrap: wrap-reverse;
}
.reg-info {
  margin-block: 1.5rem;
}
.reg-form {
  background: var(--main-bg);
  padding: 1em;
  border-radius: 10px;
}
.form-field {
  position: relative;
  margin-block: 1rem;
  border-radius: 10px;
}
.input-field {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  font-size: 1.2rem;
  padding: 0.5em;
  border-radius: inherit;
  border: none;
  transition:box-shadow 150ms ease-in-out;
}
.placeholder {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  color: grey;
  top: 50%;
  left: 5%;
  translate: -5% -50%;
  transition: top 250ms, left 250ms, scale 250ms;
}
.placeholder.focused {
  top: 0;
  left: 2%;
  color: black;
  scale: 0.8;
}
body.dark .placeholder.focused{
  background-color: rgb(32, 31, 31);
  color:rgb(241, 210, 167);
  top:-10%;
  padding-inline:1em;
}
.error-msg {
  line-height:1.5;
  margin-block: 0.5rem;
  max-width: 85%;
  margin-inline: auto;
  list-style:square;
}
body.dark .error-msg {
  color: #fff;
}
.btn-submit {
  all: unset;
  cursor: pointer;
  padding: 0.5em;
  color: var(--clr);
  background-color: var(--clr-secondary);
  transition: background-color 150ms ease-in-out;
}
.btn-submit:hover,
.btn-submit:focus {
  background-color: rgb(100, 27, 27);
}
input:not([type="date"],.log-field):valid{
  box-shadow: 0 0 10px 3px rgba(11, 255, 2, 0.76);
}
input:not([type="date"],.log-field):focus:invalid{
  box-shadow: 0 0 10px 7px rgb(255, 137, 2);
}

@media screen and (max-width: 930px) {
  body {
    background-image: radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.4),
        rgb(241 210 167 / 0.5)
      ),
      url("../images/main/cook-hero-img-650w.webp");
  }
  .reg-wrapper {
    min-block-size: 50vh;
    margin-block-start: calc(var(--size-nav) + 2rem);
    margin-block-end:1rem;
  }
}
@media screen and (min-width: 930px) and (max-width: 1280px) {
  body {
    background-image: radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.4),
        rgb(241 210 167 / 0.5)
      ),
      url("../images/main/cook-hero-img-920w.webp");
    background-position: center 30%;
  }
  .reg-wrapper {
    margin-block-start: calc(var(--size-nav) + 3rem);
    margin-block-end:1rem;
  }
}
@media screen and (min-width: 1280px) {
  body {
    background-image: radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.4),
        rgb(241 210 167 / 0.5)
      ),
      url("../images/main/cook-hero-img-1400w.webp");
    background-position: center 30%;
  }
  
}
